node-red/MQTTDashboard.txt
[{"id":"d47b60ee.d33ef","type":"tab","label":"MQTT Console","disabled":false,"info":""},{"id":"7e6689d9.045628","type":"debug","z":"d47b60ee.d33ef","name":"MQTT # RAW","active":false,"console":"false","complete":"payload","x":720,"y":140,"wires":[]},{"id":"96ebb62d.af1d48","type":"function","z":"d47b60ee.d33ef","name":"Store and shift msg vehicle","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar msgCollection = context.get('msgCollection')|| \n{SV1: {handshake: {}, available: {}, position: {}, status: {}, name: 'SV1', topicType: ''}, \nSV2: {handshake: {}, available: {}, position: {}, status: {}, name: 'SV2', topicType: ''}};\n\n\nmsg.payload = JSON.parse(msg.payload);\n\nvar msgVehicle = msg.topic.substring(msg.topic.indexOf('/') + 1, msg.topic.lastIndexOf('/'))\nconsole.info(msgVehicle);\nvar msgTopic = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsgCollection[msgVehicle].topicType = msgTopic;\nif (msgTopic === 'handshake') {\n    msgCollection[msgVehicle].handshake = msg.payload;\n} else if (msgTopic === 'available') {\n    msgCollection[msgVehicle].available = msg.payload;\n} else if (msgTopic === 'position') {\n    msgCollection[msgVehicle].position = msg.payload;\n} else if (msgTopic === 'status') {\n    msgCollection[msgVehicle].status = msg.payload;\n}\n// store the value back\ncontext.set('msgCollection',msgCollection);\n\n// make it part of the outgoing msg object\n\nmsg.payload = msgCollection;\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["f65f423d.adb41","f137ce0.405dd3"]]},{"id":"f65f423d.adb41","type":"debug","z":"d47b60ee.d33ef","name":"mqtt array","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":220,"wires":[]},{"id":"f137ce0.405dd3","type":"ui_template","z":"d47b60ee.d33ef","group":"6c09e5e3.69196c","name":"MQTT Output Vehicle","order":1,"width":"10","height":"10","format":"\n<div id=\"scoped-content\">\n    <style type=\"text/css\" scoped>\n       td {\n            width: 50%;\n            vertical-align: top;\n        }\n        table {\n            width: 100%;\n        }\n        td.small {\n            width: 10%;\n        }\n        td.medium {\n            width: 20%;\n        }\n    </style>\n    \n    <table ng-repeat=\"vehicle in msg.payload\">\n        <tr>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n        </tr>\n        <tr>\n            <td rowspan=\"7\" class=\"small\">Vehicle</td>\n            <td rowspan=\"7\" class=\"small\">{{vehicle.name}}</td>\n            <td rowspan=\"1\" class=\"small\">status</td>\n            <td rowspan=\"1\" class=\"small\">status:</td>\n            <td rowspan=\"1\">{{vehicle.status.status}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" class=\"medium\">handshake</td>\n            <td rowspan=\"1\" class=\"small\">rec:</td>\n            <td rowspan=\"1\">{{vehicle.handshake.req}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"1\" class=\"small\">ack:</td>\n            <td rowspan=\"1\">{{vehicle.handshake.ack}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" class=\"medium\">available</td>\n            <td rowspan=\"1\" class=\"small\">sector:</td>\n            <td rowspan=\"1\">{{vehicle.available.sector}}</td>\n        </tr>\n        <tr>\n            \n            <td rowspan=\"1\" class=\"small\">line:</td>\n            <td rowspan=\"1\">{{vehicle.available.line}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" class=\"medium\">position</td>\n            <td rowspan=\"1\" class=\"small\">sector:</td>\n            <td rowspan=\"1\">{{vehicle.position.sector}}</td>\n        </tr>\n        <tr>\n             <td rowspan=\"1\" class=\"small\">line:</td>\n             <td rowspan=\"1\">{{vehicle.position.line}}</td>\n        </tr>\n    </table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":180,"wires":[[]]},{"id":"777f8d1c.f01f24","type":"mqtt out","z":"d47b60ee.d33ef","name":"","topic":"","qos":"","retain":"","broker":"168381c7.cca46e","x":850,"y":840,"wires":[]},{"id":"b645b19c.9cb33","type":"ui_text_input","z":"d47b60ee.d33ef","name":"Message","label":"Message","tooltip":"","group":"6c09e5e3.69196c","order":4,"width":"","height":"","passthru":true,"mode":"text","delay":"300","topic":"message","x":240,"y":780,"wires":[["ad5be6ba.b91828"]]},{"id":"462d150e.e8655c","type":"ui_button","z":"d47b60ee.d33ef","name":"Submit","group":"6c09e5e3.69196c","order":5,"width":"6","height":"2","passthru":false,"label":"SUBMIT","tooltip":"","color":"black","bgcolor":"","icon":"fa-arrow-circle-o-up","payload":"submit","payloadType":"str","topic":"submit","x":230,"y":820,"wires":[["ad5be6ba.b91828"]]},{"id":"ad5be6ba.b91828","type":"function","z":"d47b60ee.d33ef","name":"Store and Submit","func":"context.msg = context.msg || {};\n\nswitch (msg.topic){\n    case 'message':\n        context.msg.payload = msg.payload;\n        break;\n    case 'topic':\n        context.msg.topic = msg.payload;\n        break;\n    case 'submit':\n        if(context.msg.topic){\n            return context.msg;\n        }else{\n            context.msg.topic=\"#\"; // set default topic\n            return context.msg;\n        }\n}","outputs":"1","noerr":0,"x":510,"y":800,"wires":[["777f8d1c.f01f24","80f200d7.881be"]]},{"id":"80f200d7.881be","type":"debug","z":"d47b60ee.d33ef","name":"MQTT Monitor","active":true,"console":"false","complete":"true","x":820,"y":800,"wires":[]},{"id":"262faa17.e68566","type":"ui_text_input","z":"d47b60ee.d33ef","name":"Topic","label":"Topic/","tooltip":"","group":"6c09e5e3.69196c","order":3,"width":"","height":"","passthru":true,"mode":"text","delay":300,"topic":"topic","x":230,"y":740,"wires":[["ad5be6ba.b91828"]]},{"id":"4bdf945.bb43c6c","type":"ui_button","z":"d47b60ee.d33ef","name":"Clear","group":"6c09e5e3.69196c","order":6,"width":"4","height":"2","passthru":false,"label":"CLEAR","tooltip":"","color":"black","bgcolor":"","icon":"fa-trash","payload":"","payloadType":"str","topic":"","x":90,"y":760,"wires":[["262faa17.e68566","b645b19c.9cb33"]]},{"id":"f5ed21af.08da4","type":"comment","z":"d47b60ee.d33ef","name":"MQTT Console","info":"This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com\n\n\nhttp://www.internetoflego.com/node-red-mqtt-console/","x":140,"y":100,"wires":[]},{"id":"52aa893f.19b8b8","type":"mqtt in","z":"d47b60ee.d33ef","name":"","topic":"Vehicle/#","qos":"0","broker":"168381c7.cca46e","x":120,"y":140,"wires":[["7e6689d9.045628","96ebb62d.af1d48"]]},{"id":"cd7496de.32a9d8","type":"inject","z":"d47b60ee.d33ef","name":"{\"id\":\"SV1\",\"req\":\"SB1\"}","topic":"","payload":"{\"id\":\"SV2\",\"req\":\"SB1\",\"ack\":\"SB5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":940,"wires":[["f06543cb.3f27c"]]},{"id":"f06543cb.3f27c","type":"mqtt out","z":"d47b60ee.d33ef","name":"","topic":"Vehicle/SV2/handshake","qos":"","retain":"","broker":"168381c7.cca46e","x":650,"y":940,"wires":[]},{"id":"3ed8e687.11c87a","type":"inject","z":"d47b60ee.d33ef","name":"{\"id\":\"SV1\",\"req\":\"SB1\"}","topic":"","payload":"{\"id\":\"SV3\",\"sector\":\"blabla\",\"line\":6}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1000,"wires":[["911494cb.03d1e8"]]},{"id":"911494cb.03d1e8","type":"mqtt out","z":"d47b60ee.d33ef","name":"","topic":"Vehicle/SV3/available","qos":"","retain":"","broker":"168381c7.cca46e","x":640,"y":1000,"wires":[]},{"id":"ff3263b6.f14fd","type":"inject","z":"d47b60ee.d33ef","name":"{\"id\":\"SV3\",\"status\":\"blabla\"}","topic":"","payload":"{\"id\":\"SV3\",\"status\":\"blabla\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1080,"wires":[["34517c66.acb264"]]},{"id":"34517c66.acb264","type":"mqtt out","z":"d47b60ee.d33ef","name":"","topic":"Vehicle/SV2/status","qos":"","retain":"","broker":"168381c7.cca46e","x":630,"y":1080,"wires":[]},{"id":"86ee58d6.ffe718","type":"debug","z":"d47b60ee.d33ef","name":"MQTT # RAW","active":false,"console":"false","complete":"payload","x":720,"y":280,"wires":[]},{"id":"373c0519.a7c4ba","type":"debug","z":"d47b60ee.d33ef","name":"mqtt array","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":360,"wires":[]},{"id":"95e0533f.2dc67","type":"ui_template","z":"d47b60ee.d33ef","group":"6c09e5e3.69196c","name":"MQTT Output Box","order":2,"width":"10","height":"10","format":"\n<div id=\"scoped-content\">\n    <style type=\"text/css\" scoped>\n       td {\n            width: 50%;\n            vertical-align: top;\n        }\n        table {\n            width: 100%;\n        }\n        td.small {\n            width: 10%;\n        }\n        td.medium {\n            width: 20%;\n        }\n    </style>\n    \n    <table ng-repeat=\"box in msg.payload\">\n        <tr>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n        </tr>\n        <tr>\n            <td rowspan=\"7\" class=\"small\">Box</td>\n            <td rowspan=\"7\" class=\"small\">{{box.name}}</td>\n            <td rowspan=\"1\" class=\"small\">status</td>\n            <td rowspan=\"1\" class=\"small\">status:</td>\n            <td rowspan=\"1\">{{box.status.status}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" class=\"medium\">handshake</td>\n            <td rowspan=\"1\" class=\"small\">rec:</td>\n            <td rowspan=\"1\">{{box.handshake.req}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"1\" class=\"small\">ack:</td>\n            <td rowspan=\"1\">{{box.handshake.ack}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"1\" class=\"medium\">cargo</td>\n            <td rowspan=\"1\" class=\"small\">cargo:</td>\n            <td rowspan=\"1\">{{box.cargo.cargo}}</td>\n        </tr>\n\n        <tr>\n            <td rowspan=\"2\" class=\"medium\">position</td>\n            <td rowspan=\"1\" class=\"small\">sector:</td>\n            <td rowspan=\"1\">{{box.position.sector}}</td>\n        </tr>\n        <tr>\n             <td rowspan=\"1\" class=\"small\">line:</td>\n             <td rowspan=\"1\">{{box.position.line}}</td>\n        </tr>\n    </table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":730,"y":320,"wires":[[]]},{"id":"a90c551.8ef3aa8","type":"mqtt in","z":"d47b60ee.d33ef","name":"","topic":"Box/#","qos":"0","broker":"168381c7.cca46e","x":110,"y":280,"wires":[["86ee58d6.ffe718","75d2c508.55241c"]]},{"id":"8f3bc454.e4f088","type":"inject","z":"d47b60ee.d33ef","name":"{\"id\":\"SB1\",\"req\":\"SV1\"}","topic":"","payload":"{\"id\":\"SB1\",\"req\":\"SV1\",\"ack\":\"SV5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":960,"wires":[["1d0f0580.6334bb"]]},{"id":"1d0f0580.6334bb","type":"mqtt out","z":"d47b60ee.d33ef","name":"","topic":"Box/SB2/handshake","qos":"","retain":"","broker":"168381c7.cca46e","x":1440,"y":960,"wires":[]},{"id":"75d2c508.55241c","type":"function","z":"d47b60ee.d33ef","name":"Store and shift msg box","func":"\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar msgCollection = context.get('msgCollection')|| \n{SB1: {handshake: {}, cargo: {}, position: {}, status: {}, name: 'SB1', topicType: ''}, \nSB2: {handshake: {}, cargo: {}, position: {}, status: {}, name: 'SB2', topicType: ''},\nSB3: {handshake: {}, cargo: {}, position: {}, status: {}, name: 'SB3', topicType: ''}};\n\n\nmsg.payload = JSON.parse(msg.payload);\n\nvar msgVehicle = msg.topic.substring(msg.topic.indexOf('/') + 1, msg.topic.lastIndexOf('/'))\nconsole.info(msgVehicle);\nvar msgTopic = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsgCollection[msgVehicle].topicType = msgTopic;\nif (msgTopic === 'handshake') {\n    msgCollection[msgVehicle].handshake = msg.payload;\n} else if (msgTopic === 'cargo') {\n    msgCollection[msgVehicle].cargo = msg.payload;\n} else if (msgTopic === 'position') {\n    msgCollection[msgVehicle].position = msg.payload;\n} else if (msgTopic === 'status') {\n    msgCollection[msgVehicle].status = msg.payload;\n}\n// store the value back\ncontext.set('msgCollection',msgCollection);\n\n// make it part of the outgoing msg object\n\nmsg.payload = msgCollection;\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["95e0533f.2dc67","373c0519.a7c4ba"]]},{"id":"79cf7f6b.933a","type":"inject","z":"d47b60ee.d33ef","name":"{\"id\":\"SB1\",\"req\":\"SV1\"}","topic":"","payload":"{\"id\":\"SB1\",\"cargo\":\"apefl\",\"ack\":\"SV5\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1040,"y":1060,"wires":[["bd9181d6.3b88f"]]},{"id":"bd9181d6.3b88f","type":"mqtt out","z":"d47b60ee.d33ef","name":"","topic":"Box/SB2/cargo","qos":"","retain":"","broker":"168381c7.cca46e","x":1420,"y":1060,"wires":[]},{"id":"6c09e5e3.69196c","type":"ui_group","z":"","name":"MQTTDash","tab":"d5ad08c.184b2f8","disp":true,"width":"20","collapse":false,"disabled":false,"hidden":false},{"id":"168381c7.cca46e","type":"mqtt-broker","z":"","name":"Rasp MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d5ad08c.184b2f8","type":"ui_tab","z":"","name":"MQTTDash","icon":"dashboard","disabled":false,"hidden":false}]