node-red/MQTTDashboard.txt
[
    {
        "id": "d47b60ee.d33ef",
        "type": "tab",
        "label": "MQTT Console",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7e6689d9.045628",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "MQTT # RAW",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 2320,
        "y": 180,
        "wires": []
    },
    {
        "id": "96ebb62d.af1d48",
        "type": "function",
        "z": "d47b60ee.d33ef",
        "name": "Store and shift msg vehicle",
        "func": "\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar msgCollection = context.get('msgCollection')|| \n{SV1: {handshake: {}, available: {}, position: {}, status: {}, name: 'SV1', topicType: ''}, \nSV2: {handshake: {}, available: {}, position: {}, status: {}, name: 'SV2', topicType: ''}};\n\n\nmsg.payload = JSON.parse(msg.payload);\n\nvar msgVehicle = msg.topic.substring(msg.topic.indexOf('/') + 1, msg.topic.lastIndexOf('/'))\nconsole.info(msgVehicle);\nvar msgTopic = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsgCollection[msgVehicle].topicType = msgTopic;\nif (msgTopic === 'handshake') {\n    msgCollection[msgVehicle].handshake = msg.payload;\n} else if (msgTopic === 'available') {\n    msgCollection[msgVehicle].available = msg.payload;\n} else if (msgTopic === 'position') {\n    msgCollection[msgVehicle].position = msg.payload;\n} else if (msgTopic === 'status') {\n    msgCollection[msgVehicle].status = msg.payload;\n}\n// store the value back\ncontext.set('msgCollection',msgCollection);\n\n// make it part of the outgoing msg object\n\nmsg.payload = msgCollection;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 2020,
        "y": 240,
        "wires": [
            [
                "f65f423d.adb41",
                "f137ce0.405dd3"
            ]
        ]
    },
    {
        "id": "f65f423d.adb41",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "mqtt array",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2310,
        "y": 260,
        "wires": []
    },
    {
        "id": "f137ce0.405dd3",
        "type": "ui_template",
        "z": "d47b60ee.d33ef",
        "group": "6c09e5e3.69196c",
        "name": "MQTT Output Vehicle",
        "order": 1,
        "width": "7",
        "height": "9",
        "format": "\n<div id=\"scoped-content\">\n    <style type=\"text/css\" scoped>\n       td {\n            width: 50%;\n            vertical-align: top;\n        }\n        table {\n            width: 100%;\n        }\n        td.small {\n            width: 10%;\n        }\n        td.medium {\n            width: 20%;\n        }\n    </style>\n    \n    <table ng-repeat=\"vehicle in msg.payload\">\n        <tr>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n        </tr>\n        <tr>\n            <td rowspan=\"7\" class=\"small\">Vehicle</td>\n            <td rowspan=\"7\" class=\"small\">{{vehicle.name}}</td>\n            <td rowspan=\"1\" class=\"small\">status</td>\n            <td rowspan=\"1\" class=\"small\">status:</td>\n            <td rowspan=\"1\">{{vehicle.status.status}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" class=\"medium\">handshake</td>\n            <td rowspan=\"1\" class=\"small\">rec:</td>\n            <td rowspan=\"1\">{{vehicle.handshake.req}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"1\" class=\"small\">ack:</td>\n            <td rowspan=\"1\">{{vehicle.handshake.ack}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" class=\"medium\">available</td>\n            <td rowspan=\"1\" class=\"small\">sector:</td>\n            <td rowspan=\"1\">{{vehicle.available.sector}}</td>\n        </tr>\n        <tr>\n            \n            <td rowspan=\"1\" class=\"small\">line:</td>\n            <td rowspan=\"1\">{{vehicle.available.line}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" class=\"medium\">position</td>\n            <td rowspan=\"1\" class=\"small\">sector:</td>\n            <td rowspan=\"1\">{{vehicle.position.sector}}</td>\n        </tr>\n        <tr>\n             <td rowspan=\"1\" class=\"small\">line:</td>\n             <td rowspan=\"1\">{{vehicle.position.line}}</td>\n        </tr>\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2340,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f5ed21af.08da4",
        "type": "comment",
        "z": "d47b60ee.d33ef",
        "name": "MQTT Console",
        "info": "This flow demonstrates how to view MQTT data\n\nIt is also a nice demonstration how you can\nuse an array to shift data into the UI template\n\n\nUI Viewable:\nhttp://localhost:1880/ui\n\nWritten by\nCory Guynn\n2016\nwww.InternetOfLEG0.com\n\n\nhttp://www.internetoflego.com/node-red-mqtt-console/",
        "x": 140,
        "y": 100,
        "wires": []
    },
    {
        "id": "52aa893f.19b8b8",
        "type": "mqtt in",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/#",
        "qos": "0",
        "broker": "168381c7.cca46e",
        "x": 1720,
        "y": 180,
        "wires": [
            [
                "7e6689d9.045628",
                "96ebb62d.af1d48"
            ]
        ]
    },
    {
        "id": "cd7496de.32a9d8",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "{\"id\":\"SV1\",\"req\":\"SB1\"}",
        "topic": "",
        "payload": "{\"id\":\"SV2\",\"req\":\"SB1\",\"ack\":\"SB5\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1780,
        "y": 1040,
        "wires": [
            [
                "f06543cb.3f27c"
            ]
        ]
    },
    {
        "id": "f06543cb.3f27c",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/SV2/handshake",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 2190,
        "y": 1040,
        "wires": []
    },
    {
        "id": "3ed8e687.11c87a",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "{\"id\":\"SV1\",\"req\":\"SB1\"}",
        "topic": "",
        "payload": "{\"id\":\"SV3\",\"sector\":\"blabla\",\"line\":6}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1780,
        "y": 1100,
        "wires": [
            [
                "911494cb.03d1e8"
            ]
        ]
    },
    {
        "id": "911494cb.03d1e8",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/SV3/available",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 2180,
        "y": 1100,
        "wires": []
    },
    {
        "id": "ff3263b6.f14fd",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "{\"id\":\"SV3\",\"status\":\"blabla\"}",
        "topic": "",
        "payload": "{\"id\":\"SV3\",\"status\":\"blabla\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1800,
        "y": 1180,
        "wires": [
            [
                "34517c66.acb264"
            ]
        ]
    },
    {
        "id": "34517c66.acb264",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/SV2/status",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 2170,
        "y": 1180,
        "wires": []
    },
    {
        "id": "86ee58d6.ffe718",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "MQTT # RAW",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 2320,
        "y": 320,
        "wires": []
    },
    {
        "id": "373c0519.a7c4ba",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "mqtt array",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2310,
        "y": 400,
        "wires": []
    },
    {
        "id": "95e0533f.2dc67",
        "type": "ui_template",
        "z": "d47b60ee.d33ef",
        "group": "6c09e5e3.69196c",
        "name": "MQTT Output Box",
        "order": 2,
        "width": "7",
        "height": "9",
        "format": "\n<div id=\"scoped-content\">\n    <style type=\"text/css\" scoped>\n       td {\n            width: 50%;\n            vertical-align: top;\n        }\n        table {\n            width: 100%;\n        }\n        td.small {\n            width: 10%;\n        }\n        td.medium {\n            width: 20%;\n        }\n    </style>\n    \n    <table ng-repeat=\"box in msg.payload\">\n        <tr>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n        </tr>\n        <tr>\n            <td rowspan=\"7\" class=\"small\">Box</td>\n            <td rowspan=\"7\" class=\"small\">{{box.name}}</td>\n            <td rowspan=\"1\" class=\"small\">status</td>\n            <td rowspan=\"1\" class=\"small\">status:</td>\n            <td rowspan=\"1\">{{box.status.status}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"2\" class=\"medium\">handshake</td>\n            <td rowspan=\"1\" class=\"small\">rec:</td>\n            <td rowspan=\"1\">{{box.handshake.req}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"1\" class=\"small\">ack:</td>\n            <td rowspan=\"1\">{{box.handshake.ack}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"1\" class=\"medium\">cargo</td>\n            <td rowspan=\"1\" class=\"small\">cargo:</td>\n            <td rowspan=\"1\">{{box.cargo.cargo}}</td>\n        </tr>\n\n        <tr>\n            <td rowspan=\"2\" class=\"medium\">position</td>\n            <td rowspan=\"1\" class=\"small\">sector:</td>\n            <td rowspan=\"1\">{{box.position.sector}}</td>\n        </tr>\n        <tr>\n             <td rowspan=\"1\" class=\"small\">line:</td>\n             <td rowspan=\"1\">{{box.position.line}}</td>\n        </tr>\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2330,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a90c551.8ef3aa8",
        "type": "mqtt in",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/#",
        "qos": "0",
        "broker": "168381c7.cca46e",
        "x": 1710,
        "y": 320,
        "wires": [
            [
                "86ee58d6.ffe718",
                "75d2c508.55241c"
            ]
        ]
    },
    {
        "id": "8f3bc454.e4f088",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "{\"id\":\"SB1\",\"req\":\"SV1\"}",
        "topic": "",
        "payload": "{\"id\":\"SB1\",\"req\":\"SV1\",\"ack\":\"SV5\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1780,
        "y": 1260,
        "wires": [
            [
                "1d0f0580.6334bb"
            ]
        ]
    },
    {
        "id": "1d0f0580.6334bb",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB2/handshake",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 2180,
        "y": 1260,
        "wires": []
    },
    {
        "id": "75d2c508.55241c",
        "type": "function",
        "z": "d47b60ee.d33ef",
        "name": "Store and shift msg box",
        "func": "\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar msgCollection = context.get('msgCollection')|| \n{SB1: {handshake: {}, cargo: {}, position: {}, status: {}, name: 'SB1', topicType: ''}, \nSB2: {handshake: {}, cargo: {}, position: {}, status: {}, name: 'SB2', topicType: ''},\nSB3: {handshake: {}, cargo: {}, position: {}, status: {}, name: 'SB3', topicType: ''}};\n\n\nmsg.payload = JSON.parse(msg.payload);\n\nvar msgVehicle = msg.topic.substring(msg.topic.indexOf('/') + 1, msg.topic.lastIndexOf('/'))\nconsole.info(msgVehicle);\nvar msgTopic = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsgCollection[msgVehicle].topicType = msgTopic;\nif (msgTopic === 'handshake') {\n    msgCollection[msgVehicle].handshake = msg.payload;\n} else if (msgTopic === 'cargo') {\n    msgCollection[msgVehicle].cargo = msg.payload;\n} else if (msgTopic === 'position') {\n    msgCollection[msgVehicle].position = msg.payload;\n} else if (msgTopic === 'status') {\n    msgCollection[msgVehicle].status = msg.payload;\n}\n// store the value back\ncontext.set('msgCollection',msgCollection);\n\n// make it part of the outgoing msg object\n\nmsg.payload = msgCollection;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1990,
        "y": 380,
        "wires": [
            [
                "95e0533f.2dc67",
                "373c0519.a7c4ba"
            ]
        ]
    },
    {
        "id": "79cf7f6b.933a",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "{\"id\":\"SB1\",\"req\":\"SV1\"}",
        "topic": "",
        "payload": "{\"id\":\"SB1\",\"cargo\":\"apefl\",\"ack\":\"SV5\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1780,
        "y": 1360,
        "wires": [
            [
                "bd9181d6.3b88f"
            ]
        ]
    },
    {
        "id": "bd9181d6.3b88f",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB2/cargo",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 2160,
        "y": 1360,
        "wires": []
    },
    {
        "id": "343611c8.1f99ee",
        "type": "ui_button",
        "z": "d47b60ee.d33ef",
        "name": "ClearGUi",
        "group": "a8842134.d4d49",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "CLEAR GUI",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"status\":\"\",\"rec\":\"\",\"ack\":\"\",\"sector\":\"\",\"line\":\"\",\"cargo\":\"\"}",
        "payloadType": "json",
        "topic": "",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "4b6050b8.d218",
                "9ea486af.570a98",
                "6adcb37e.c5429c",
                "eec57c35.8ba2",
                "1a8041b1.1fe52e",
                "546e4f8.2f457b",
                "e76c6bf1.6e1638",
                "a0bb7e85.8245d",
                "49e3819c.aa364",
                "cf0b6ad0.8c7e88",
                "a6c1ce40.ac0ac",
                "645cdc1b.c83ba4",
                "f1d8b56c.2d2ef8",
                "9891ef94.4b87f",
                "958983f9.ec518",
                "8c9a4b03.77a938",
                "ab48d565.0ad988",
                "5d3a8ef6.72cc1",
                "93288ccb.22305",
                "4a74df09.82ff5",
                "6828d8aa.7d92e8",
                "976180b1.7ad92",
                "30718023.1a511",
                "f85d4e6a.1e0f",
                "44f7eab9.092dd4",
                "c19274e0.a82748",
                "a5e59fd4.088f7",
                "2a174961.e32766"
            ]
        ]
    },
    {
        "id": "4b6050b8.d218",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/SV1/handshake",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 543.75,
        "y": 135,
        "wires": []
    },
    {
        "id": "9ea486af.570a98",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/SV1/status",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 523,
        "y": 181,
        "wires": []
    },
    {
        "id": "6adcb37e.c5429c",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/SV1/available",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 530,
        "y": 227,
        "wires": []
    },
    {
        "id": "eec57c35.8ba2",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/SV1/position",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 529,
        "y": 277,
        "wires": []
    },
    {
        "id": "49e3819c.aa364",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB1/handshake",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "cf0b6ad0.8c7e88",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB1/status",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "a6c1ce40.ac0ac",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB1/cargo",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 520,
        "y": 443,
        "wires": []
    },
    {
        "id": "645cdc1b.c83ba4",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB1/position",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 530,
        "y": 488,
        "wires": []
    },
    {
        "id": "1a8041b1.1fe52e",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/SV2/handshake",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "546e4f8.2f457b",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/SV2/status",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 809.25,
        "y": 186,
        "wires": []
    },
    {
        "id": "e76c6bf1.6e1638",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/SV2/available",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 816.25,
        "y": 232,
        "wires": []
    },
    {
        "id": "a0bb7e85.8245d",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/SV2/position",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 815.25,
        "y": 282,
        "wires": []
    },
    {
        "id": "f1d8b56c.2d2ef8",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB2/handshake",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "9891ef94.4b87f",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB2/status",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "958983f9.ec518",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB2/cargo",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 800,
        "y": 443,
        "wires": []
    },
    {
        "id": "8c9a4b03.77a938",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB2/position",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 810,
        "y": 488,
        "wires": []
    },
    {
        "id": "ab48d565.0ad988",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB3/handshake",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 1100,
        "y": 360,
        "wires": []
    },
    {
        "id": "5d3a8ef6.72cc1",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB3/status",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 1080,
        "y": 400,
        "wires": []
    },
    {
        "id": "93288ccb.22305",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB3/cargo",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 1080,
        "y": 443,
        "wires": []
    },
    {
        "id": "4a74df09.82ff5",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/SB3/position",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 1090,
        "y": 488,
        "wires": []
    },
    {
        "id": "e26e4167.12ead",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "error",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "89f53a72.750988",
        "type": "ui_button",
        "z": "d47b60ee.d33ef",
        "name": "",
        "group": "a8842134.d4d49",
        "order": 3,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Error",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"error\":true}",
        "payloadType": "json",
        "topic": "",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "e26e4167.12ead"
            ]
        ]
    },
    {
        "id": "8500be94.2f7c1",
        "type": "ui_button",
        "z": "d47b60ee.d33ef",
        "name": "",
        "group": "a8842134.d4d49",
        "order": 4,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"error\":true,\"token\":true}",
        "payloadType": "json",
        "topic": "",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "e26e4167.12ead"
            ]
        ]
    },
    {
        "id": "967fa73c.bdbae8",
        "type": "ui_button",
        "z": "d47b60ee.d33ef",
        "name": "",
        "group": "a8842134.d4d49",
        "order": 5,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Resume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"error\":false,\"token\":false}",
        "payloadType": "json",
        "topic": "",
        "x": 200,
        "y": 680,
        "wires": [
            [
                "e26e4167.12ead"
            ]
        ]
    },
    {
        "id": "2e2c5088.212c7",
        "type": "ui_text",
        "z": "d47b60ee.d33ef",
        "group": "a8842134.d4d49",
        "order": 2,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "All",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 180,
        "y": 560,
        "wires": []
    },
    {
        "id": "d720891f.3d9318",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/error",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 600,
        "y": 852,
        "wires": []
    },
    {
        "id": "3fb57a24.518266",
        "type": "ui_button",
        "z": "d47b60ee.d33ef",
        "name": "ErrorBox",
        "group": "a8842134.d4d49",
        "order": 7,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Error",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"error\":true}",
        "payloadType": "json",
        "topic": "",
        "x": 230,
        "y": 812,
        "wires": [
            [
                "d720891f.3d9318"
            ]
        ]
    },
    {
        "id": "d013b471.3c5258",
        "type": "ui_button",
        "z": "d47b60ee.d33ef",
        "name": "ResetBox",
        "group": "a8842134.d4d49",
        "order": 8,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"error\":true,\"token\":true}",
        "payloadType": "json",
        "topic": "",
        "x": 220,
        "y": 852,
        "wires": [
            [
                "d720891f.3d9318"
            ]
        ]
    },
    {
        "id": "b4a20ab6.54c3f8",
        "type": "ui_button",
        "z": "d47b60ee.d33ef",
        "name": "ResumeBox",
        "group": "a8842134.d4d49",
        "order": 9,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Resume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"error\":false,\"token\":false}",
        "payloadType": "json",
        "topic": "",
        "x": 230,
        "y": 892,
        "wires": [
            [
                "d720891f.3d9318"
            ]
        ]
    },
    {
        "id": "ce6a2155.e8f1a",
        "type": "ui_text",
        "z": "d47b60ee.d33ef",
        "group": "a8842134.d4d49",
        "order": 6,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Box",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 200,
        "y": 772,
        "wires": []
    },
    {
        "id": "3cfd94b6.3babfc",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/error",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 610,
        "y": 1040,
        "wires": []
    },
    {
        "id": "80974d21.b264a",
        "type": "ui_button",
        "z": "d47b60ee.d33ef",
        "name": "ErrorVehicle",
        "group": "a8842134.d4d49",
        "order": 11,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Error",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"error\":true}",
        "payloadType": "json",
        "topic": "",
        "x": 240,
        "y": 1000,
        "wires": [
            [
                "3cfd94b6.3babfc"
            ]
        ]
    },
    {
        "id": "125d675d.5d6449",
        "type": "ui_button",
        "z": "d47b60ee.d33ef",
        "name": "ResetVehicle",
        "group": "a8842134.d4d49",
        "order": 12,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"error\":true,\"token\":true}",
        "payloadType": "json",
        "topic": "",
        "x": 230,
        "y": 1040,
        "wires": [
            [
                "3cfd94b6.3babfc"
            ]
        ]
    },
    {
        "id": "665c95e9.c7914c",
        "type": "ui_button",
        "z": "d47b60ee.d33ef",
        "name": "ResumeVehicle",
        "group": "a8842134.d4d49",
        "order": 13,
        "width": "1",
        "height": "1",
        "passthru": false,
        "label": "Resume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"error\":false,\"token\":false}",
        "payloadType": "json",
        "topic": "",
        "x": 240,
        "y": 1080,
        "wires": [
            [
                "3cfd94b6.3babfc"
            ]
        ]
    },
    {
        "id": "eeeaa735.e7f488",
        "type": "ui_text",
        "z": "d47b60ee.d33ef",
        "group": "a8842134.d4d49",
        "order": 10,
        "width": "3",
        "height": "1",
        "name": "",
        "label": "Vehicle",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 210,
        "y": 960,
        "wires": []
    },
    {
        "id": "1b1d0538.a4cbeb",
        "type": "ui_switch",
        "z": "d47b60ee.d33ef",
        "name": "Sortic Gateway",
        "label": "Gateway",
        "tooltip": "",
        "group": "1f552de5.a78da2",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 240,
        "y": 1140,
        "wires": [
            [
                "a18b8894.c69b28"
            ]
        ]
    },
    {
        "id": "2df03d2f.d13cf2",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Sortic/Gateway",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 660,
        "y": 1340,
        "wires": []
    },
    {
        "id": "fbef50c7.ee8c6",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Transfer/Gateway",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 670,
        "y": 1460,
        "wires": []
    },
    {
        "id": "1f040a6d.ad8e86",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "Gateway",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 640,
        "y": 1400,
        "wires": []
    },
    {
        "id": "a5ae6571.af21f8",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "",
        "payload": "{\"id\":\"User\",\"token\":true}",
        "payloadType": "json",
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 210,
        "y": 1400,
        "wires": [
            [
                "ff3d2ddb.c61a4",
                "f58a3284.c9c5b"
            ]
        ]
    },
    {
        "id": "ff3d2ddb.c61a4",
        "type": "switch",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "SorticGatewayBlock",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1360,
        "wires": [
            [
                "2df03d2f.d13cf2",
                "1f040a6d.ad8e86"
            ],
            [
                "983a27f7.7a3448"
            ]
        ]
    },
    {
        "id": "ee4cbf04.6c47",
        "type": "ui_switch",
        "z": "d47b60ee.d33ef",
        "name": "Transfer Gateway",
        "label": "Gateway",
        "tooltip": "",
        "group": "e56f5c59.cf76",
        "order": 15,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 250,
        "y": 1200,
        "wires": [
            [
                "7a4d08a5.f2b7a8"
            ]
        ]
    },
    {
        "id": "7a4d08a5.f2b7a8",
        "type": "function",
        "z": "d47b60ee.d33ef",
        "name": "set flow var",
        "func": "flow.set(\"TransferGatewayBlock\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "f58a3284.c9c5b",
        "type": "switch",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "TransferGatewayBlock",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "jsonata"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 370,
        "y": 1440,
        "wires": [
            [
                "fbef50c7.ee8c6",
                "1f040a6d.ad8e86"
            ],
            [
                "adbb2a2b.0f9938"
            ]
        ]
    },
    {
        "id": "a18b8894.c69b28",
        "type": "function",
        "z": "d47b60ee.d33ef",
        "name": "set flow var",
        "func": "flow.set(\"SorticGatewayBlock\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "7a1fd51b.7b8aec",
        "type": "mqtt in",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Vehicle/#",
        "qos": "0",
        "broker": "168381c7.cca46e",
        "x": 1720,
        "y": 780,
        "wires": [
            [
                "cd73616c.9ef88"
            ]
        ]
    },
    {
        "id": "cd73616c.9ef88",
        "type": "json",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 2060,
        "y": 780,
        "wires": [
            [
                "67339fa1.57ad"
            ]
        ]
    },
    {
        "id": "67339fa1.57ad",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "VehicleMQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2290,
        "y": 780,
        "wires": []
    },
    {
        "id": "d0aae0f6.03eb2",
        "type": "mqtt in",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Box/#",
        "qos": "0",
        "broker": "168381c7.cca46e",
        "x": 1710,
        "y": 840,
        "wires": [
            [
                "fdb7a894.5f60c8"
            ]
        ]
    },
    {
        "id": "fdb7a894.5f60c8",
        "type": "json",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 2063,
        "y": 840,
        "wires": [
            [
                "5994d8e9.b97798"
            ]
        ]
    },
    {
        "id": "5994d8e9.b97798",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "BoxMQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2283,
        "y": 840,
        "wires": []
    },
    {
        "id": "818eedb7.9af5e",
        "type": "mqtt in",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Sortic/#",
        "qos": "0",
        "broker": "168381c7.cca46e",
        "x": 1710,
        "y": 920,
        "wires": [
            [
                "1f6d45b6.1e92aa"
            ]
        ]
    },
    {
        "id": "1f6d45b6.1e92aa",
        "type": "json",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 2060,
        "y": 920,
        "wires": [
            [
                "378faf53.a1009"
            ]
        ]
    },
    {
        "id": "378faf53.a1009",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "VehicleMQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2290,
        "y": 920,
        "wires": []
    },
    {
        "id": "135b5a78.5fee76",
        "type": "mqtt in",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Transfer/#",
        "qos": "0",
        "broker": "168381c7.cca46e",
        "x": 1720,
        "y": 980,
        "wires": [
            [
                "229c320d.6f0e4e"
            ]
        ]
    },
    {
        "id": "229c320d.6f0e4e",
        "type": "json",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 2063,
        "y": 980,
        "wires": [
            [
                "930ea346.0099"
            ]
        ]
    },
    {
        "id": "930ea346.0099",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "BoxMQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2283,
        "y": 980,
        "wires": []
    },
    {
        "id": "e2606727.655ae8",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "MQTT # RAW",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 2320,
        "y": 480,
        "wires": []
    },
    {
        "id": "b5593731.8950d8",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "mqtt array",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2310,
        "y": 560,
        "wires": []
    },
    {
        "id": "babe4580.c7fa08",
        "type": "ui_template",
        "z": "d47b60ee.d33ef",
        "group": "1f552de5.a78da2",
        "name": "Locations Sortic",
        "order": 2,
        "width": "7",
        "height": "4",
        "format": "\n<div id=\"scoped-content\">\n    <style type=\"text/css\" scoped>\n       td {\n            width: 50%;\n            vertical-align: top;\n        }\n        table {\n            width: 100%;\n        }\n        td.small {\n            width: 10%;\n        }\n        td.medium {\n            width: 20%;\n        }\n    </style>\n    \n    <table ng-repeat=\"vehicle in msg.payload\">\n        <tr>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n        </tr>\n        <tr>\n            <td rowspan=\"4\" class=\"small\">{{vehicle.name}}</td>\n            <td rowspan=\"1\" class=\"small\">Gateway</td>\n            <td rowspan=\"1\" class=\"small\">token:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Gateway.token}}</td>\n            <td rowspan=\"1\" class=\"small\">id:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Gateway.id}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"3\" class=\"medium\">Handover</td>\n            <td rowspan=\"1\" class=\"small\">Line:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Handover.Line1.line}}</td>\n            <td rowspan=\"1\" class=\"small\">id:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Handover.Line1.id}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"1\" class=\"small\">Line:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Handover.Line2.line}}</td>\n            <td rowspan=\"1\" class=\"small\">id:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Handover.Line2.id}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"1\" class=\"small\">Line:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Handover.Line3.line}}</td>\n            <td rowspan=\"1\" class=\"small\">id:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Handover.Line3.id}}</td>\n        </tr>\n\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2320,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "e67eefd3.4cb68",
        "type": "mqtt in",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Sortic/#",
        "qos": "0",
        "broker": "168381c7.cca46e",
        "x": 1710,
        "y": 480,
        "wires": [
            [
                "e2606727.655ae8",
                "55eabf9f.8c5b9"
            ]
        ]
    },
    {
        "id": "df281e63.a0c2e",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "{\"id\":\"SB1\",\"token\":\"false\"}",
        "topic": "",
        "payload": "{\"id\":\"SB1\",\"token\":\"false\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1790,
        "y": 1440,
        "wires": [
            [
                "1c491a8b.be7d75"
            ]
        ]
    },
    {
        "id": "1c491a8b.be7d75",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Sortic/Gateway",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 2160,
        "y": 1440,
        "wires": []
    },
    {
        "id": "55eabf9f.8c5b9",
        "type": "function",
        "z": "d47b60ee.d33ef",
        "name": "Store and shift msg vehicle",
        "func": "\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar msgCollection = context.get('msgCollection')|| \n{Sortic: {Gateway: {}, Handover: {Line1: {}, Line2: {}, Line3: {}}, name: 'Sortic', topicType: ''}\n};\n//Transfer: {Gateway: {}, Handover: {Line1: {}, Line2: {}, Line3: {}}, name: 'Sortic', topicType: ''}\n\nmsg.payload = JSON.parse(msg.payload);\n\nvar msgVehicle = msg.topic.substring(msg.topic.indexOf('/'),0)\nconsole.info(msgVehicle);\nvar msgTopic = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsgCollection[msgVehicle].topicType = msgTopic;\nif (msgTopic === 'Gateway') {\n    msgCollection[msgVehicle].Gateway = msg.payload;\n} else if (msgTopic === 'Handover') {\n    //msgCollection[msgVehicle].Handover = msg.payload;\n    if (msg.payload.id !== 'Sortic'){\n        if (msg.payload.line === 1){\n            msgCollection[msgVehicle].Handover.Line1 = msg.payload;\n        }else if (msg.payload.line === 2){\n            msgCollection[msgVehicle].Handover.Line2 = msg.payload;\n        }else if (msg.payload.line === 3){\n            msgCollection[msgVehicle].Handover.Line3 = msg.payload;\n        }\n    }\n}\n// store the value back\ncontext.set('msgCollection',msgCollection);\n\n// make it part of the outgoing msg object\n\nmsg.payload = msgCollection;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1980,
        "y": 540,
        "wires": [
            [
                "babe4580.c7fa08",
                "b5593731.8950d8"
            ]
        ]
    },
    {
        "id": "2ce0c176.7825de",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "{\"id\":\"SB1\",\"line\":1}",
        "topic": "",
        "payload": "{\"id\":\"SB1\",\"line\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1770,
        "y": 1500,
        "wires": [
            [
                "c171a1eb.c0181"
            ]
        ]
    },
    {
        "id": "c171a1eb.c0181",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Sortic/Handover",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 2160,
        "y": 1500,
        "wires": []
    },
    {
        "id": "1df00d6d.7bc8a3",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "{\"id\":\"SB2\",\"line\":2}",
        "topic": "",
        "payload": "{\"id\":\"SB2\",\"line\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1770,
        "y": 1560,
        "wires": [
            [
                "7b6461c1.6e81e"
            ]
        ]
    },
    {
        "id": "7b6461c1.6e81e",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Sortic/Handover",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 2160,
        "y": 1560,
        "wires": []
    },
    {
        "id": "167c1e79.effa52",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "{\"id\":\"SB3\",\"line\":3}",
        "topic": "",
        "payload": "{\"id\":\"SB3\",\"line\":3}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1750,
        "y": 1620,
        "wires": [
            [
                "50df8689.7ae088"
            ]
        ]
    },
    {
        "id": "50df8689.7ae088",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Sortic/Handover",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 2160,
        "y": 1620,
        "wires": []
    },
    {
        "id": "fb2a78b0.60d738",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "{\"id\":\"SB1\",\"line\":1}",
        "topic": "",
        "payload": "{\"id\":\"SB1\",\"line\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2410,
        "y": 1480,
        "wires": [
            [
                "f4041411.525dd8"
            ]
        ]
    },
    {
        "id": "f4041411.525dd8",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Transfer/Handover",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 2810,
        "y": 1480,
        "wires": []
    },
    {
        "id": "bd301b64.7fb0b8",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "{\"id\":\"SB2\",\"line\":2}",
        "topic": "",
        "payload": "{\"id\":\"SB2\",\"line\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2410,
        "y": 1540,
        "wires": [
            [
                "50531833.7e14c8"
            ]
        ]
    },
    {
        "id": "50531833.7e14c8",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Transfer/Handover",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 2810,
        "y": 1540,
        "wires": []
    },
    {
        "id": "328969c0.a1af26",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "{\"id\":\"SB3\",\"line\":3}",
        "topic": "",
        "payload": "{\"id\":\"SB3\",\"line\":3}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2390,
        "y": 1600,
        "wires": [
            [
                "c357b943.589b98"
            ]
        ]
    },
    {
        "id": "c357b943.589b98",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Transfer/Handover",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 2810,
        "y": 1600,
        "wires": []
    },
    {
        "id": "ae6741f0.a28a8",
        "type": "mqtt in",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Transfer/#",
        "qos": "0",
        "broker": "168381c7.cca46e",
        "x": 1720,
        "y": 660,
        "wires": [
            [
                "5037c539.d3ebdc"
            ]
        ]
    },
    {
        "id": "ee0e4bfa.cd1a88",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "MQTT # RAW",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 2320,
        "y": 620,
        "wires": []
    },
    {
        "id": "282d1cc1.ec1e14",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "mqtt array",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 2310,
        "y": 700,
        "wires": []
    },
    {
        "id": "e488ae45.72ac1",
        "type": "ui_template",
        "z": "d47b60ee.d33ef",
        "group": "e56f5c59.cf76",
        "name": "Locations Transfer",
        "order": 2,
        "width": "7",
        "height": "4",
        "format": "\n<div id=\"scoped-content\">\n    <style type=\"text/css\" scoped>\n       td {\n            width: 50%;\n            vertical-align: top;\n        }\n        table {\n            width: 100%;\n        }\n        td.small {\n            width: 10%;\n        }\n        td.medium {\n            width: 20%;\n        }\n    </style>\n    \n    <table ng-repeat=\"vehicle in msg.payload\">\n        <tr>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n            <th></th>\n        </tr>\n        <tr>\n            <td rowspan=\"4\" class=\"small\">{{vehicle.name}}</td>\n            <td rowspan=\"1\" class=\"small\">Gateway</td>\n            <td rowspan=\"1\" class=\"small\">token:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Gateway.token}}</td>\n            <td rowspan=\"1\" class=\"small\">id:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Gateway.id}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"3\" class=\"medium\">Handover</td>\n            <td rowspan=\"1\" class=\"small\">Line:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Handover.Line1.line}}</td>\n            <td rowspan=\"1\" class=\"small\">id:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Handover.Line1.id}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"1\" class=\"small\">Line:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Handover.Line2.line}}</td>\n            <td rowspan=\"1\" class=\"small\">id:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Handover.Line2.id}}</td>\n        </tr>\n        <tr>\n            <td rowspan=\"1\" class=\"small\">Line:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Handover.Line3.line}}</td>\n            <td rowspan=\"1\" class=\"small\">id:</td>\n            <td rowspan=\"1\" class=\"small\">{{vehicle.Handover.Line3.id}}</td>\n        </tr>\n\n    </table>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 2330,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "5037c539.d3ebdc",
        "type": "function",
        "z": "d47b60ee.d33ef",
        "name": "Store and shift msg vehicle",
        "func": "\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar msgCollection = context.get('msgCollection')|| \n{//Sortic: {Gateway: {}, Handover: {Line1: {}, Line2: {}, Line3: {}}, name: 'Sortic', topicType: ''}, \nTransfer: {Gateway: {}, Handover: {Line1: {}, Line2: {}, Line3: {}}, name: 'Transfer', topicType: ''}};\n\n\nmsg.payload = JSON.parse(msg.payload);\n\nvar msgVehicle = msg.topic.substring(msg.topic.indexOf('/'),0)\nconsole.info(msgVehicle);\nvar msgTopic = msg.topic.substring(msg.topic.lastIndexOf('/') + 1);\nmsgCollection[msgVehicle].topicType = msgTopic;\nif (msgTopic === 'Gateway') {\n    msgCollection[msgVehicle].Gateway = msg.payload;\n} else if (msgTopic === 'Handover') {\n    //msgCollection[msgVehicle].Handover = msg.payload;\n    if (msg.payload.id !== 'Transfer'){\n        if (msg.payload.line === 1){\n            msgCollection[msgVehicle].Handover.Line1 = msg.payload;\n        }else if (msg.payload.line === 2){\n            msgCollection[msgVehicle].Handover.Line2 = msg.payload;\n        }else if (msg.payload.line === 3){\n            msgCollection[msgVehicle].Handover.Line3 = msg.payload;\n        }\n    }\n}\n// store the value back\ncontext.set('msgCollection',msgCollection);\n\n// make it part of the outgoing msg object\n\nmsg.payload = msgCollection;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1980,
        "y": 680,
        "wires": [
            [
                "e488ae45.72ac1",
                "282d1cc1.ec1e14"
            ]
        ]
    },
    {
        "id": "3c7cf210.353fce",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "",
        "payload": "{\"id\":\"User\",\"token\":false}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 650,
        "y": 1520,
        "wires": [
            [
                "fbef50c7.ee8c6"
            ]
        ]
    },
    {
        "id": "545d170b.2bcad8",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "",
        "payload": "{\"id\":\"User\",\"token\":false}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 670,
        "y": 1280,
        "wires": [
            [
                "2df03d2f.d13cf2"
            ]
        ]
    },
    {
        "id": "f85d4e6a.1e0f",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Sortic/Handover",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 1080,
        "y": 280,
        "wires": []
    },
    {
        "id": "30718023.1a511",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Sortic/Gateway",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "f49ac5a.7efe638",
        "type": "inject",
        "z": "d47b60ee.d33ef",
        "name": "{\"id\":\"SB1\",\"token\":\"false\"}",
        "topic": "",
        "payload": "{\"id\":\"SB1\",\"token\":\"false\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 2430,
        "y": 1440,
        "wires": [
            [
                "239bb47f.3683dc"
            ]
        ]
    },
    {
        "id": "239bb47f.3683dc",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Transfer/Gateway",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 2810,
        "y": 1440,
        "wires": []
    },
    {
        "id": "6828d8aa.7d92e8",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Transfer/Gateway",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 1090,
        "y": 140,
        "wires": []
    },
    {
        "id": "976180b1.7ad92",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Transfer/Handover",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 1090,
        "y": 180,
        "wires": []
    },
    {
        "id": "e760eb6a.1c92e8",
        "type": "ui_dropdown",
        "z": "d47b60ee.d33ef",
        "name": "Sortic Line 1",
        "label": "Line 1",
        "tooltip": "",
        "place": "Empty",
        "group": "1f552de5.a78da2",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "Empty",
                "value": "Empty",
                "type": "str"
            },
            {
                "label": "Bier",
                "value": "{\"cargo\":\"Bier\",\"line\":1,\"id\":\"Sortic\"}",
                "type": "str"
            },
            {
                "label": "Fahrrad",
                "value": "{\"cargo\":\"Fahrrad\",\"line\":1,\"id\":\"Sortic\"}",
                "type": "str"
            },
            {
                "label": "Computer",
                "value": "{\"cargo\":\"Computer\",\"line\":1,\"id\":\"Sortic\"}",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 190,
        "y": 1660,
        "wires": [
            [
                "e49626c9.418338"
            ]
        ]
    },
    {
        "id": "e49626c9.418338",
        "type": "trigger",
        "z": "d47b60ee.d33ef",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1500",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 420,
        "y": 1660,
        "wires": [
            [
                "5299da95.a22784"
            ]
        ]
    },
    {
        "id": "e98dd50a.0998e8",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "Sortic Laod",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 750,
        "y": 1720,
        "wires": []
    },
    {
        "id": "5299da95.a22784",
        "type": "switch",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Empty",
                "vt": "str"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1720,
        "wires": [
            [],
            [
                "e49626c9.418338",
                "cbcbbaa8.93c278"
            ]
        ]
    },
    {
        "id": "cbcbbaa8.93c278",
        "type": "json",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 590,
        "y": 1720,
        "wires": [
            [
                "e98dd50a.0998e8",
                "cfd56264.b5811"
            ]
        ]
    },
    {
        "id": "665c46ec.88c018",
        "type": "ui_dropdown",
        "z": "d47b60ee.d33ef",
        "name": "Sortic Line 2",
        "label": "Line 2",
        "tooltip": "",
        "place": "Empty",
        "group": "1f552de5.a78da2",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "Empty",
                "value": "Empty",
                "type": "str"
            },
            {
                "label": "Bier",
                "value": "{\"cargo\":\"Bier\",\"line\":2,\"id\":\"Sortic\"}",
                "type": "str"
            },
            {
                "label": "Fahrrad",
                "value": "{\"cargo\":\"Fahrrad\",\"line\":2,\"id\":\"Sortic\"}",
                "type": "str"
            },
            {
                "label": "Computer",
                "value": "{\"cargo\":\"Computer\",\"line\":2,\"id\":\"Sortic\"}",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 190,
        "y": 1780,
        "wires": [
            [
                "d23eadd6.cb64b"
            ]
        ]
    },
    {
        "id": "d9a31f12.5d865",
        "type": "ui_dropdown",
        "z": "d47b60ee.d33ef",
        "name": "Sortic Line 3",
        "label": "Line 3",
        "tooltip": "",
        "place": "Empty",
        "group": "1f552de5.a78da2",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "Empty",
                "value": "Empty",
                "type": "str"
            },
            {
                "label": "Bier",
                "value": "{\"cargo\":\"Bier\",\"line\":3,\"id\":\"Sortic\"}",
                "type": "str"
            },
            {
                "label": "Fahrrad",
                "value": "{\"cargo\":\"Fahrrad\",\"line\":3,\"id\":\"Sortic\"}",
                "type": "str"
            },
            {
                "label": "Computer",
                "value": "{\"cargo\":\"Computer\",\"line\":3,\"id\":\"Sortic\"}",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 190,
        "y": 1920,
        "wires": [
            [
                "e3fb55b1.1aa628"
            ]
        ]
    },
    {
        "id": "d23eadd6.cb64b",
        "type": "trigger",
        "z": "d47b60ee.d33ef",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1500",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 420,
        "y": 1780,
        "wires": [
            [
                "a240d97a.ed5438"
            ]
        ]
    },
    {
        "id": "cd39b196.34e88",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "Sortic Laod",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 750,
        "y": 1840,
        "wires": []
    },
    {
        "id": "a240d97a.ed5438",
        "type": "switch",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Empty",
                "vt": "str"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1840,
        "wires": [
            [],
            [
                "d23eadd6.cb64b",
                "99c4c1ed.e1786"
            ]
        ]
    },
    {
        "id": "99c4c1ed.e1786",
        "type": "json",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 590,
        "y": 1840,
        "wires": [
            [
                "cd39b196.34e88",
                "cfd56264.b5811"
            ]
        ]
    },
    {
        "id": "e3fb55b1.1aa628",
        "type": "trigger",
        "z": "d47b60ee.d33ef",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1500",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 420,
        "y": 1920,
        "wires": [
            [
                "f26a4fe6.ae293"
            ]
        ]
    },
    {
        "id": "e2c15332.1b334",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "Sortic Laod",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 750,
        "y": 1980,
        "wires": []
    },
    {
        "id": "f26a4fe6.ae293",
        "type": "switch",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Empty",
                "vt": "str"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 1980,
        "wires": [
            [],
            [
                "e3fb55b1.1aa628",
                "bcf3c158.f4b8"
            ]
        ]
    },
    {
        "id": "bcf3c158.f4b8",
        "type": "json",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 590,
        "y": 1980,
        "wires": [
            [
                "e2c15332.1b334",
                "cfd56264.b5811"
            ]
        ]
    },
    {
        "id": "d55d3ff4.fc226",
        "type": "ui_dropdown",
        "z": "d47b60ee.d33ef",
        "name": "Transfer Line 1",
        "label": "Line 1",
        "tooltip": "",
        "place": "Empty",
        "group": "e56f5c59.cf76",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "Empty",
                "value": "Empty",
                "type": "str"
            },
            {
                "label": "Bier",
                "value": "{\"cargo\":\"Bier\",\"line\":1,\"id\":\"Transfer\"}",
                "type": "str"
            },
            {
                "label": "Fahrrad",
                "value": "{\"cargo\":\"Fahrrad\",\"line\":1,\"id\":\"Transfer\"}",
                "type": "str"
            },
            {
                "label": "Computer",
                "value": "{\"cargo\":\"Computer\",\"line\":1,\"id\":\"Transfer\"}",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 200,
        "y": 2120,
        "wires": [
            [
                "8c13afab.1da09"
            ]
        ]
    },
    {
        "id": "8c13afab.1da09",
        "type": "trigger",
        "z": "d47b60ee.d33ef",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1500",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 420,
        "y": 2120,
        "wires": [
            [
                "5b13d94e.8790d8"
            ]
        ]
    },
    {
        "id": "71f15a52.0ddbb4",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "Sortic Laod",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 750,
        "y": 2180,
        "wires": []
    },
    {
        "id": "5b13d94e.8790d8",
        "type": "switch",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Empty",
                "vt": "str"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 2180,
        "wires": [
            [],
            [
                "8c13afab.1da09",
                "89c9c746.ccd8a8"
            ]
        ]
    },
    {
        "id": "89c9c746.ccd8a8",
        "type": "json",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 590,
        "y": 2180,
        "wires": [
            [
                "71f15a52.0ddbb4",
                "5d690173.22ec9"
            ]
        ]
    },
    {
        "id": "285fddf5.e2f582",
        "type": "ui_dropdown",
        "z": "d47b60ee.d33ef",
        "name": "Transfer Line 2",
        "label": "Line 2",
        "tooltip": "",
        "place": "Empty",
        "group": "e56f5c59.cf76",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "Empty",
                "value": "Empty",
                "type": "str"
            },
            {
                "label": "Bier",
                "value": "{\"cargo\":\"Bier\",\"line\":2,\"id\":\"Transfer\"}",
                "type": "str"
            },
            {
                "label": "Fahrrad",
                "value": "{\"cargo\":\"Fahrrad\",\"line\":2,\"id\":\"Transfer\"}",
                "type": "str"
            },
            {
                "label": "Computer",
                "value": "{\"cargo\":\"Computer\",\"line\":2,\"id\":\"Transfer\"}",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 200,
        "y": 2240,
        "wires": [
            [
                "b19128ab.519248"
            ]
        ]
    },
    {
        "id": "cc4f16db.e66a38",
        "type": "ui_dropdown",
        "z": "d47b60ee.d33ef",
        "name": "Transfer Line 3",
        "label": "Line 3",
        "tooltip": "",
        "place": "Empty",
        "group": "e56f5c59.cf76",
        "order": 4,
        "width": "4",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "Empty",
                "value": "Empty",
                "type": "str"
            },
            {
                "label": "Bier",
                "value": "{\"cargo\":\"Bier\",\"line\":3,\"id\":\"Transfer\"}",
                "type": "str"
            },
            {
                "label": "Fahrrad",
                "value": "{\"cargo\":\"Fahrrad\",\"line\":3,\"id\":\"Transfer\"}",
                "type": "str"
            },
            {
                "label": "Computer",
                "value": "{\"cargo\":\"Computer\",\"line\":3,\"id\":\"Transfer\"}",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 200,
        "y": 2380,
        "wires": [
            [
                "817a106b.bcac9"
            ]
        ]
    },
    {
        "id": "b19128ab.519248",
        "type": "trigger",
        "z": "d47b60ee.d33ef",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1500",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 420,
        "y": 2240,
        "wires": [
            [
                "5bfe1bc6.0114c4"
            ]
        ]
    },
    {
        "id": "5fa1c445.9fe81c",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "Sortic Laod",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 750,
        "y": 2300,
        "wires": []
    },
    {
        "id": "5bfe1bc6.0114c4",
        "type": "switch",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Empty",
                "vt": "str"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 2300,
        "wires": [
            [],
            [
                "b19128ab.519248",
                "ef1b42b1.8cdf1"
            ]
        ]
    },
    {
        "id": "ef1b42b1.8cdf1",
        "type": "json",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 590,
        "y": 2300,
        "wires": [
            [
                "5fa1c445.9fe81c",
                "5d690173.22ec9"
            ]
        ]
    },
    {
        "id": "817a106b.bcac9",
        "type": "trigger",
        "z": "d47b60ee.d33ef",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1500",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 420,
        "y": 2380,
        "wires": [
            [
                "f0a1d529.49f708"
            ]
        ]
    },
    {
        "id": "e546bb16.6a76f8",
        "type": "debug",
        "z": "d47b60ee.d33ef",
        "name": "Sortic Laod",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 750,
        "y": 2440,
        "wires": []
    },
    {
        "id": "f0a1d529.49f708",
        "type": "switch",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Empty",
                "vt": "str"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 2440,
        "wires": [
            [],
            [
                "817a106b.bcac9",
                "753e70c2.3ce9f"
            ]
        ]
    },
    {
        "id": "753e70c2.3ce9f",
        "type": "json",
        "z": "d47b60ee.d33ef",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 590,
        "y": 2440,
        "wires": [
            [
                "e546bb16.6a76f8",
                "5d690173.22ec9"
            ]
        ]
    },
    {
        "id": "3ecffb8b.aa6a84",
        "type": "change",
        "z": "d47b60ee.d33ef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"\",\"token\":\"\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 1540,
        "wires": [
            [
                "fbef50c7.ee8c6",
                "1f040a6d.ad8e86"
            ]
        ]
    },
    {
        "id": "5b0acbfd.2e7e04",
        "type": "change",
        "z": "d47b60ee.d33ef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"\",\"token\":\"\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 1280,
        "wires": [
            [
                "2df03d2f.d13cf2",
                "1f040a6d.ad8e86"
            ]
        ]
    },
    {
        "id": "adbb2a2b.0f9938",
        "type": "trigger",
        "z": "d47b60ee.d33ef",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "1",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 220,
        "y": 1540,
        "wires": [
            [
                "3ecffb8b.aa6a84"
            ]
        ]
    },
    {
        "id": "983a27f7.7a3448",
        "type": "trigger",
        "z": "d47b60ee.d33ef",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "1",
        "extend": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 220,
        "y": 1280,
        "wires": [
            [
                "5b0acbfd.2e7e04"
            ]
        ]
    },
    {
        "id": "cfd56264.b5811",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Sortic/Handover",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 1020,
        "y": 1840,
        "wires": []
    },
    {
        "id": "44f7eab9.092dd4",
        "type": "change",
        "z": "d47b60ee.d33ef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Empty",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 1600,
        "wires": [
            [
                "e760eb6a.1c92e8",
                "665c46ec.88c018",
                "d9a31f12.5d865",
                "d55d3ff4.fc226",
                "285fddf5.e2f582",
                "cc4f16db.e66a38"
            ]
        ]
    },
    {
        "id": "5d690173.22ec9",
        "type": "mqtt out",
        "z": "d47b60ee.d33ef",
        "name": "",
        "topic": "Transfer/Handover",
        "qos": "",
        "retain": "",
        "broker": "168381c7.cca46e",
        "x": 1010,
        "y": 2300,
        "wires": []
    },
    {
        "id": "c19274e0.a82748",
        "type": "change",
        "z": "d47b60ee.d33ef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"\",\"line\":1}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 580,
        "wires": [
            [
                "976180b1.7ad92",
                "f85d4e6a.1e0f"
            ]
        ]
    },
    {
        "id": "a5e59fd4.088f7",
        "type": "change",
        "z": "d47b60ee.d33ef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"\",\"line\":2}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 620,
        "wires": [
            [
                "976180b1.7ad92",
                "f85d4e6a.1e0f"
            ]
        ]
    },
    {
        "id": "2a174961.e32766",
        "type": "change",
        "z": "d47b60ee.d33ef",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"id\":\"\",\"line\":3}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 660,
        "wires": [
            [
                "976180b1.7ad92",
                "f85d4e6a.1e0f"
            ]
        ]
    },
    {
        "id": "6c09e5e3.69196c",
        "type": "ui_group",
        "z": "",
        "name": "Status",
        "tab": "d5ad08c.184b2f8",
        "order": 2,
        "disp": true,
        "width": "14",
        "collapse": false,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "168381c7.cca46e",
        "type": "mqtt-broker",
        "z": "",
        "name": "Rasp MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a8842134.d4d49",
        "type": "ui_group",
        "z": "",
        "name": "Control",
        "tab": "d5ad08c.184b2f8",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false
    },
    {
        "id": "1f552de5.a78da2",
        "type": "ui_group",
        "z": "",
        "name": "Sortic",
        "tab": "d5ad08c.184b2f8",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "e56f5c59.cf76",
        "type": "ui_group",
        "z": "",
        "name": "Transfer",
        "tab": "d5ad08c.184b2f8",
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "d5ad08c.184b2f8",
        "type": "ui_tab",
        "z": "",
        "name": "MQTTDash",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]